<ng-container *ngIf="(getBandEvents(artistName) | async) as events" [ngSwitch]="events?.length > 0">
  <h2 class="title has-text-centered is-4 event-header">Events</h2>

  <ng-container *ngSwitchCase="true">
    <section *ngFor="let event of events" class="event-card card section columns is-tablet">
      <article class="event-card__location column is-one-third">
        <p>
          <strong>{{ event.venue?.city }}</strong> <br />
          {{ event.venue?.country }}
        </p>
        <div>
          <home24-event-btn [url]="event?.url"></home24-event-btn>
          <home24-ticket-btn [offers]="event?.offers"></home24-ticket-btn>
        </div>
      </article>
      <article class="column location-col">
        <home24-location [event]="event"></home24-location>
      </article>
      <article class="column lineup-col" *ngIf="event.lineup?.length > 1">
        <home24-lineup-container class="lineup" [lineup]="event.lineup"> </home24-lineup-container>
      </article>
    </section>
  </ng-container>
  <section *ngSwitchDefault class="card section"><h3>No Events!</h3></section>
</ng-container>
