@import "vars";

:host {
  overflow: scroll;
}

.location-col,
.lineup-col {
  padding: 0.25rem;
}

.lineup-col {
  overflow: scroll;
  max-height: $card-height-l;
  min-width: $min-col-width;
}

.event {
  &-button {
    margin: 0.5rem 1rem;
    display: block;
  }

  &-card {
    overflow-x: scroll;

    &:last-child {
      margin-bottom: 2rem;
    }

    &__location {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.25rem;
      text-align: center;
      min-width: $min-col-width;
    }

    &__title {
      font-weight: 700;
    }
  }
}
