<ng-container *ngIf="event">
  <h3 class="event-card__header">
    <strong class="event-name">{{ event.venue?.name }}</strong> <br />
    <span class="event-date">{{ event.datetime | date: 'dd.MM.yyyy' }}</span>
  </h3>
  <div class="mini-map has-shadow" leaflet [leafletOptions]="getLeafletOptsFromEvent(event)"></div>
</ng-container>
