.error-section {
  height: 6rem;
  text-align: center;
  grid-column-end: span 2;
}

.top-nav {
  display: flex;
  padding: 0.5rem 1rem;
  grid-column-start: 1;
  grid-column-end: span 2;

  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

  z-index: 2;
}

.search-bar {
  flex: 1;
  align-items: center;
  display: flex;
  margin-left: 3rem;
}

.logo {
  &-container {
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  &-fist {
    margin: 0.25rem;
    min-width: 1.5rem;
  }
  &-text {
    margin: 0.25rem;
    min-width: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: 5rem calc(100vh - 5rem);
    grid-template-columns: 20rem auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .artist-info {
    grid-column: 1;
    grid-row: 2;
  }

  .artist-events {
    grid-column: 2;
    grid-row: 2;
  }
}

@media screen and (max-width: 767px) {
  .top-nav {
    flex-direction: column;
  }

  .search-bar {
    margin-left: 0;
  }
}
