<main class="container">
  <nav class="top-nav">
    <article class="logo-container">
      <img src="assets/img/bitFist.svg" class="logo-fist" alt="fist logo" />
      <img src="assets/img/bitText.svg" class="logo-text" alt="bandsintown text" />
    </article>
    <home24-search-bar
      class="search-bar"
      [initVal]="artistName"
      (valueChange)="setArtist($event)"
    ></home24-search-bar>
  </nav>

  <ng-container *ngIf="artistName">
    <ng-container *ngIf="(getArtist(artistName) | async) as artist; else: noArtist">
      <home24-artist-info class="artist-info" [artist]="artist"></home24-artist-info>
      <home24-artist-events class="artist-events" [artistName]="artistName"></home24-artist-events>
    </ng-container>
  </ng-container>

  <article class="section error-section card" *ngIf="!artistName">
    <h1 class="subtitle">Please enter an artist name.</h1>
  </article>
  <ng-template #noArtist>
    <article class="section error-section card" *ngIf="artistName">
      <h1 class="subtitle">No Artist found.</h1>
    </article>
  </ng-template>
</main>
