<section *ngIf="artist" class="artist-section card  is-centered">
  <h2 class="card-header-title is-centered title">{{ artist.name }}</h2>
  <hr />

  <article class="card-content">
    <figure class="image artist-image card-image">
      <img
        class="is-rounded has-shadow"
        [src]="artist.thumb_url"
        [attr.alt]="'Photo of ' + artist.name"
      />
    </figure>
  </article>
  <a [href]="artist.facebook_page_url" target="_blank">
    <button class="facebook-btn" *ngIf="artist.facebook_page_url">
      <i class="fab fa-facebook"></i> <span>Visit Facebook of {{ artist.name }}</span>
    </button>
  </a>
</section>
