@import "vars";

.facebook-btn {
  width: 100%;
  border: none;
  background: $color-fb;
  color: $color-white;
  cursor: pointer;
  font-size: 0.75rem;
  border-radius: 0.125rem;
  padding: 0.5rem 0.75rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .fab {
    font-size: 2rem;
  }
}

.artist-image {
  max-width: 12.5rem;
  height: auto;
  margin: 0 auto;
}

.card-header-title {
  margin-bottom: 0;
}

hr {
  margin: 0.5rem 0;
}
