<ng-container *ngIf="lineup?.length > 1">
  <section class="lineup-container">
    <h3 class="lineup-header subtitle is-3 has-text-centered">Lineup</h3>
    <ul class="lineup">
      <li *ngFor="let part of lineup">{{ part }}</li>
    </ul>
  </section>
</ng-container>
