/* You can add global styles to this file, and also import other style files */

body,
html {
  background-color: aliceblue;
}

.has-shadow {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

// Bulma override
.section {
  padding: 1.5rem 1rem;
}

.card {
  margin: 0.5rem;
}

// Flex helpers
.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.map-pin {
  font-size: 1.5rem;
  transform: translateX(-0.125rem) translateY(-1rem);
  color: #00d1b2;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
